
/* CSS Document */
ul, li {  list-style: none outside none; }
.clearc{zoom:1;}

.clearc:after {
    content: "";
    display: block;
    clear: both;}
img {  border: 0 none;  }
h1,h2,h3,h4,h5,h6,fieldset,p,ol,ul,li,form,map,button,input,dl,dt,dd,q,table,thead,tbody,tfoot,tr,td,img,div{ margin:0; padding:0; }
body {  font-family:"微软雅黑";  font-size: 18px; background: #fff; }

.risk_cont1{ height: 457px; background:url(../images/dpsb.png) center no-repeat;width: 100%;margin-bottom: 100px;}

.risk_cont2{width: 1040px;margin: 0 auto;}
.risk_cont2 h5{background:url(../images/t1.png) center no-repeat;height: 32px;margin-bottom: 26px;}
    .risk_cont2 .risk_conts2{background:url(../images/b2.png) center no-repeat;height: 473px;width: 997px;margin: 0 auto;}
    .risk_conts2 .risk_conts2p{font-size: 22px;color: #fff;text-indent: 2em;width: 774px;padding: 164px 0 0 164px;line-height: 38px;}

.risk_cont3{width: 1075px;margin:100px auto 90px auto;}
    .risk_cont3 h5{background:url(../images/t2.png) center no-repeat;height: 32px;margin-bottom:42px;width: 1075px;}
    .risk_cont3 p,.risk_cont4 p,.risk_cont5 p{text-indent: 2em;font-size: 21px;color: #5c5959;line-height: 36px;}
    .risk_cont3 .risk_conts3{background:url(../images/b3.gif) center no-repeat;height: 204px;margin-top: 66px;}

.risk_cont4{width: 928px;margin:100px auto 90px auto;}
    .risk_cont4 h5,.risk_cont5 h5{background:url(../images/t3.png) center no-repeat;height: 32px;margin-bottom: 40px;width: 928px;}
    .risk_conts4{width: 900px;margin: 42px auto 0 auto;}
    .risk_cont4 .risk_left{float: left;background:url(../images/b4.gif) no-repeat;height: 415px;width: 403px;}
    .risk_cont4 .risk_right{float:right;background:url(../images/b41.png) no-repeat;width: 422px;height: 447px;}

.risk_cont5{width: 928px;margin: 0 auto 96px auto;}
    .risk_cont5 h5{background:url(../images/t4.gif) center no-repeat;}
    .risk_conts5{width: 1004px;margin: 0 auto;background: url("../images/b77.png") no-repeat top center;padding-top: 100px;font-size: 20px;color: #757575;line-height:32px;}
